@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

body, html {
    color:#FFF;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
    
}


/* block 1 start */
.block1 {
    display: flex;
    flex-direction: column;
    background: url('assets/Rectangle\ 1.png') no-repeat center;
    background-size: cover;
    height: 100vh;
}   

.header {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    padding-top: 44px;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #FFF;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}

.header-center {
    display: flex;
    gap: 50px;
    color: #FFF;
    color: #FFF;
    font-family: PT Sans;
    font-size: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 27px;
    color: #FFF;
}

.header-right button {
    background-color: rgba(255, 255, 255, 0);
    width: 154px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    color: #FFF;
}

.block1__center-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    gap: 21px;
}

.block1__center-item1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block1__center-item1 h1{
    color: #FFF;
    text-align: center;
    font-family: PT Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block1__center-item1 h2{
    color: #FFF;
    text-align: center;
    font-family: PT Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.85px;
}

.block1__center-item2 button{
    border-radius: 10px;
    background: #FF3465;
    width: 209px;
    height: 55px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* block 1 end */

